<div class="extra-services">
    <h3>Select Additional Services</h3>
    <div class="card-container">
      <div class="card">
        <img src="../../../../assets/priority.jpg" alt="Priority Boarding">
        <h4>Priority Boarding</h4>
        <p>Enjoy priority boarding and get on the plane first.</p>
        <button (click)="addPriorityBoarding()">Add for $30</button>
      </div>
      <div class="card">
        <img src="../../../../assets/baggage.jpg" alt="Extra Large Baggage">
        <h4>Extra Large Baggage</h4>
        <p>Check in an extra large bag at no additional cost.</p>
        <button (click)="addExtraLargeBaggage()">Add for $30</button>
      </div>
      <div class="card">
        <img src="../../../../assets/60f7d394-6642-4783-9e40-d9ccd0f047b4.jpg" alt="No Added Services">
        <h4>No Added Services</h4>
        <p>No additional services selected.</p>
        <button (click)="continue()">Continue</button>
      </div>
    </div>
  </div>
  