<section class="hero">
  <div class="hero-container">
    <img src="../../../../assets/4k-plane-in-airport-uhj5vnu4c0t0j89v.jpg" alt="Plane flying">
    <div class="overlay-content">
      <a routerLink="/flight-list" class="explore-flights-btn">Explore Flights</a>
    </div>
  </div>
</section>

  <section class="popular-routes">
    <h2>Popular Routes</h2>
    <div class="routes-grid">
      <div class="route-card">
        <img src="../../../../assets/Madrid Gran Via.jpg" alt="Madrid">
        <h3>Madrid</h3>
      </div>
      <div class="route-card">
        <img src="../../../../assets/49 BEST Things to Do in Oslo, Norway That Are Totally Worth Doing.jpg" alt="Oslo">
        <h3>Oslo</h3>
      </div>
      <div class="route-card">
        <img src="../../../../assets/Cruises to Dubai, United Arab Emirates _ Royal Caribbean Cruises.jpg" alt="Dubai">
        <h3>Dubai</h3>
      </div>
      <div class="route-card">
        <img src="../../../../assets/10 Best Areas Of New York To Visit.jpg" alt="New York City">
        <h3>New York City</h3>
      </div>
    </div>
  </section>
  
  <!-- <section class="info-icons">
    <div class="icon-block">
      <i class="icon best-price"></i>
      <h3>Best Price Guarantee</h3>
    </div>
    <div class="icon-block">
      <i class="icon refunds"></i>
      <h3>Refunds & Cancellations</h3>
    </div>
    <div class="icon-block">
      <i class="icon covid-info"></i>
      <h3>Covid-19 Information</h3>
    </div>
  </section>
  
  <section class="promo">
    <h2>Get our new mobile app and book flights with 10% discount!</h2>
    <img src="promo-plane.jpg" alt="Plane flying">
    <button>Download in Mobile Store</button>
  </section> -->
  