<header>
  <div class="navbar">
    <div class="logo">SkyPlan</div>
    <nav>
      <ul>
        <li><a routerLink="/body"> <img src="../../../../assets/question-circle.svg" width="25" height="20" alt="Question"> Help</a></li>
        <li><a routerLink="/flight-list"><img src="../../../../assets/noun-airplane-365.svg" width="30" height="30" alt="AirPlane"> My Trips</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#" class="login">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>
